# ===== API =====
API_PORT=3001
API_HOST=0.0.0.0
CORS_ORIGIN=http://localhost:3000

MONGO_URI=mongodb://root:password@localhost:27017/
DATA_BASE_NAME=xranalizer

# Max body size captured by webhooks
MAX_BODY_SIZE=10mb

# ===== WEB =====
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
